meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Control de calidad: requisitos, inspecciones de calidad y muestreo.
meta(meta name="description" content="Comprender el control de calidad en los procesos, insumos, materia prima y materiales e identificar y definir los requisitos de calidad del producto y en cada uno de los procesos. Conocer los diferentes tipos de inspecciones para establecer las inspecciones a realizar en el proceso. Reconocer los tipos de muestreo y la terminología estadística para definir el plan de muestreo a desarrollar.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")