.container
    .header-ecored
        h1 2. Inspección y muestreos
    .jumbotron.bg-white.shadow
        img.img-a(src="assets/images/pages/ilustraciones/img24.jpg", alt="").img-fluid
        .fondo-azul2
            p De acuerdo con Jaramillo (1990) “la inspección es la acción de comparar un material, proceso o producto contra las especificaciones dadas previamente con el propósito de determinar el grado en que estos cumplen las especificaciones técnicas establecidas.  De acuerdo con el porcentaje de artículos inspeccionados la inspección puede ser (i) al 100%, que comprende el examen de cada artículo que haya en el lote, y (ii) por muestreo, que comprende la inspección de una pequeña parte de los artículos que hay en el lote o que se producen en el proceso. Cada empresa con base en sus políticas de calidad define los tamaños muestrales” (p. 14)
        .sub-ecored#21.mt-5
            h2 2.1. Métodos de inspección      
        p.mt-5 Las inspecciones se necesitan en las empresas para garantizar la calidad del producto y de los procesos. Validar la calidad de los insumos y materias primas permite controlar la calidad desde el inicio y ser proactivos ante las demoras que se puedan presentar en la producción haciendo mejoras el manejo de los costos de calidad.
        p Teniendo en cuenta la clasificación de la inspección, derivan de ellos los métodos a utilizar; a continuación, se presentan los diferentes tipos de inspección.
        h2.mt-5.h2-azul Clasificación de inspecciones, tipos y subclasificación.
        nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Cantidad de productos a inspeccionar
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Proceso de producción
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong Especificaciones de inspección

                a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                    strong Aprobación de producto
                a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                    strong Utilización
                a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                    strong Lugar
                a#nav-07-tab.nav-item.nav-link(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='false') 
                    strong Frecuencia    
                a#nav-08-tab.nav-item.nav-link(data-toggle='tab', href='#nav-08', role='tab', aria-controls='nav-08', aria-selected='false') 
                    strong Proveedores                                                      
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                    p #[strong 100%:] se examinan todos los artículos de un lote.
                    p #[strong Muestreo:] examinando la muestra establecida, se incide la conclusión en todo el lote o producción. 
                    p #[strong Comprobación:] teniendo una muestra pequeña con el fin de comprobar las acciones de la inspección de un proceso, por ejemplo.
                    p #[strong Cero:] no se requiere porque el proceso está controlado.
                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    p.mt-5 Recibo de materia prima, insumos y materiales: retener antes de iniciar los no conformes.
                    p #[strong Proceso:] determinar si está conforme para seguir según el flujo del proceso.
                    p #[strong Producto:] una vez terminado se usa para rechazar o aceptarlo.
                    p #[strong Previa a la entrega:] revisión por los cambios que puedan ocasionarse en el almacenamiento antes de llegar a manos del cliente.
                    p Durante la entrega al cliente.
                    p En el almacenamiento debido a los tiempos. 
                    p #[strong Externa:] realizada por empresas contratadas, o por entes gubernamentales.
                    p #[strong Auditoría:] comprobar la inspección para asegurar el proceso realizado.
                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                    p Aprobar muestra o prototipo del producto.
                    p Comprobar comportamiento del artículo.
                    p #[strong Fiabilidad:] si va a durar el comportamiento con la inspección.
                    p #[strong Analítica:] conforme el análisis de una característica es suficiente para decidir aceptar o rechazar y así establecer acciones de mejora.
                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                    p #[strong Variables:] se cuantifica, y según criterio el inspector valida.
                    p #[strong Atributos:] sin cuantificación, es totalmente subjetiva a criterio del inspector.
                #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                    p #[strong Destructiva:] define el destino según los resultados de la inspección, si los resultados no cumplen, se elimina el producto.
                    p #[strong No destructiva:] no se elimina el producto.
                #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                    p #[strong Puesto control fijo:] lugar establecido dentro del proceso de producción.
                    p #[strong Control volante:] no es fijo.
                    p #[strong Control parcial:] se establece en determinados momentos y espacios según necesidad de revisar una pieza o proceso.
                #nav-07.tab-pane.fade(role='tabpanel', aria-labelledby='nav-07-tab')
                    p #[strong Periódica:] establecido de acuerdo con periodos fijos.
                    p #[strong Permanente:] en un puesto fijo, retención del producto al final del proceso.
                    p #[strong Permanente estadístico:] de acuerdo con un muestreo.
                    p #[strong Arbitraria:] cuando el inspector realiza a su criterio.
                    p #[strong Eventual:] de vez en cuando.
                    p #[strong Al azar:] sin programación previa.
                #nav-08.tab-pane.fade(role='tabpanel', aria-labelledby='nav-08-tab')
                    p Realizadas a los proveedores para certificar que realizan controles de calidad.    
        p.mt-5 Para realizar las inspecciones es relevante tener en cuenta la fase de planeación del control de calidad, como primera medida se realiza el alistamiento de los recursos, definir cronogramas, responsables, sistemas de medición, requisitos de calidad y plan de muestreo, y en la ejecución de inspecciones conviene tener un orden para revisar cada pieza o producto y poder validarlo una vez se realice el análisis mediante las herramientas estadísticas,  sin producir congestiones o demoras en las entregas de los pedidos al cliente.
        h3.mt-5.h2-azul 2.1.1. Inspección de producto en proceso
        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xlPFRjssa2Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')               
        p.mt-5 Teniendo en cuenta la llamada inspección en pie de máquina, el inspector revisa la pieza una vez termina la operación en el puesto de trabajo, tanto por el lado del derecho como por el revés, y analiza el método con el que se desarrolla la operación, para establecer estrategias de mejora. Utiliza el formato de auditoría de confección en proceso, que hace parte de los formatos de control de calidad.
        p Los aspectos para auditar son los siguientes:
        .jumbotron.fondo-azul
            .row.justify-content-center
                .col-5
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Simetrías.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Márgenes de costura.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Manipulación.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Tensiones de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Costuras rectas.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p.mb-0 Remates.
                .col-5
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Cases de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Empates mínimos de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Limpieza.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Costuras uniformes.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p.mb-0 Sin roturas.
        p.mt-5 Operación desarrollada según las especificaciones del método y uso de pies, guías, aditamentos y fólderes.
        h3.mt-5.h2-azul 2.1.2. Inspección de producto terminado
        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/I8adPpXG-n8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                
        p.mt-5 En los puntos de control fijos asignados del módulo de producción, se realiza la auditoría utilizando el formato de auditoría de producto terminado.
        h3.mt-5 Aspectos para auditar:
        .jumbotron.fondo-azul
            .row.justify-content-center
                .col-6
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Prenda limpia: sin manchas de aceite o algún otro líquido.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Prenda sin hebras: corte de hilos al ras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Resistencia a la rotura de las costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Simetrías.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Márgenes de costura.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Manipulación.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Tensiones de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p.mb-0 Costuras rectas.
                .col-6
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Remates de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Cases de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Empates mínimos de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Costuras uniformes.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Sin roturas.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Sin recogidos.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p.mb-0 Correspondencia de las medidas de prenda terminada con las especificadas en ficha técnica, según desarrollo de patronaje.
        h3.mt-5.h2-azul 2.1.3. Inspección de lote piloto                            
        p.mt-5 Con el fin de prever problemas en producción derivados de la calidad se confecciona una cantidad de unidades del producto con el fin de comprobar el cumplimiento de los requisitos. Los aspectos para revisar son los siguientes:
        .jumbotron.fondo-azul
            .row.justify-content-center
                .col-6
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Desarrollo de las operaciones de acuerdo con la ficha técnica.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Simetrías.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Márgenes de costura.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Manipulación.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Tensiones de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Costuras rectas.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p.mb-0 Remates de costuras.
                .col-6
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Cases de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Empates mínimos de costuras.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Costuras uniformes.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Sin roturas.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Sin recogidos.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Correspondencia de las medidas de prenda terminada con las especificadas en ficha técnica, según desarrollo de patronaje.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p.mb-0 Plantillas creadas cumplen para la utilización por ejemplo marcación de posición de bolsillos
        p.mt-5 Las inconformidades que se presenten en el desarrollo del lote piloto deben corregirse y realizar nuevas pruebas hasta que la inspección de las prendas cumpla los requisitos y sea aceptados para producir.
        h3.mt-5.h2-azul 2.1.4. Inspección de insumos y textiles
        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HoLZv-WxqyU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')               
        p.mt-5 En el ingreso de los materiales y antes de iniciar el proceso, la inspección hace parte del alistamiento de la producción para su integración al paquete de confección.
        p Una vez se realiza la inspección y si no cumple con los requisitos se deben rechazar los insumos, de allí la importancia de los acuerdos comerciales y de garantía con los proveedores para dar pronta respuesta al problema y se puedan entregar nuevos insumos de reemplazo, que también deben someterse a la inspección.
        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2IjwoiNJCDw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                  
        p En el siguiente cuadro puede observar cómo se pueden realizar las inspecciones en algunos, insumos y telas.
        img.img-a(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid
        h3.mt-5.h2-azul 2.1.5. Inspección de procesos de terminados
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img26.svg", alt="").img-fluid
            .col-7
                ul
                    li #[strong Planchado:] revisar que no queden arrugas, los quiebres necesarios deben quedar derechos y en el lugar especificado.
                    li #[strong Doblado:] este proceso no debe afectar la apariencia de otras partes de la prenda como el cuello y pueda dañar el proceso anterior conforme el método acordado.
                    li #[strong Embalaje:] la organización en la caja debe realizarse  sin ejercer presión que afecte el doblado y planchado de la prenda,  se debe verificar que tenga las etiquetas y rótulos para identificar la prenda y el pedido.
        h3.mt-5.h2-azul 2.1.6. Inspección de procesos de lavandería
        p.mt-5 Existen diversos tipos de lavado los cuales también se pueden combinar, pero en general, es importante que se inspeccione una vez se termine el proceso. Al inicio de la inspección, se debe tener claro que se va a inspeccionar respecto a: 
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img27.svg", alt="").img-fluid
            .col-7
                ul
                    li #[strong Color:] correspondencia respecto al proceso solicitado.
                    li En el caso de abrasiones y rotos, se confronta si los tamaños, la ubicación y el método corresponde al solicitado.
                    li Decoloraciones en las ubicaciones y tamaños especificados.
                    li Se revisa si se afectaron las costuras, es decir si se rompieron.
        h3.mt-5.h2-azul 2.1.7. Inspección de proceso de estampado
        p.mt-5 En cualquiera de los métodos aplicados se debe validar los siguientes aspectos:
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img28.svg", alt="").img-fluid
            .col-7
                ul
                    li #[strong Colores:] precisos, que no se noten corridos si no es parte del diseño.
                    li #[strong Diseño:] que sea de acuerdo con el planteado.
                    li #[strong Tamaño:] las medidas deben estar conforme el requerimiento.
                    li #[strong Posición y ubicación:] confirmar confrontando el diseño o muestra.
        h3.mt-5.h2-azul 2.1.8. Inspección de proceso bordado
        p.mt-5 Los aspectos para revisar en el bordado son:
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img29.svg", alt="").img-fluid
            .col-7
                ul
                    li #[strong Colores:] que coordinen conforme el diseño.
                    li #[strong Diseño:] que sea de acuerdo con el planteado.
                    li #[strong Tamaño:] las medidas deben ser conformes al requerimiento.
                    li #[strong Posición y ubicación:] confirmar confrontando el diseño.
                    li Tensión de hilos.
                    li Hilos cortados a ras.
                    li Sin roturas.
        .sub-ecored#22.mt-5
            h2 2.2. Técnicas de muestreo
            p.mt-5 Una vez se determinen los criterios para realizar las inspecciones de producción, se utiliza la estadística para manejar, sobre todo grandes unidades de productos de un lote y variables de este.
        .row.justify-content-center.align-items-center.mt-5
            .col-7
                p La elección de la muestra es muy importante, porque del cumplimiento de sus características en el lote dependen las decisiones a tomar sobre el mismo; por tanto, se debe dar cumplimiento al rasgo de representatividad del lote. Del tamaño de las muestras y la forma de escoger sus propiedades depende el nivel de error obtenido en las inspecciones y sus mediciones.
                p El plan de muestreo a elegir debe tener en cuenta el número promedio de productos a auditar con el fin de controlar no solo el producto sino los costos por inspección. 
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img30.svg", alt="").img-fluid
        p.mt-5 El muestreo a elegir ya sea en un proceso, o en un producto terminado o insumo puede ser diferente, es necesario verificar la capacidad de análisis del auditor para determinar la conveniencia de la técnica a utilizar además de establecer mezclas entre los tipos de muestreo.
        h3.mt-5.h2-azul 2.2.1. Muestreo probabilístico
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img31.svg", alt="").img-fluid
            .col-7  
                p Este método utiliza formas de selección aleatoria, basado en la característica que todos los productos pueden hacer parte de una muestra, asegurando la representatividad de esta.
                p Este tipo de muestreo se clasifica en:
                ul
                    li Muestreo aleatorio simple.
                    li Muestreo sistemático.      
                    li Muestreo aleatorio estratificado.
                    li Muestreo por conglomerados (clústeres).
        p.mt-5 En cada uno de los muestreos se debe tener en cuenta las siguientes variables: 
        p N = tamaño de la población o lote.
        p n = tamaño de la muestra.
        p k = intervalo de salto para elegir el siguiente elemento que conforme la muestra.
        p I = arranque aleatorio, elemento o producto de punto de partida, es el inicio para determinar la muestra.
        p.mt-5 El cálculo del tamaño de la muestra se realiza de acuerdo con cálculos estadísticos que se realizan mediante programas informáticos, en donde se tienen en cuenta el error estándar, el intervalo de confianza, la media, entre otras medidas. Es relevante tener en cuenta que entre mayor sea el tamaño de la muestra, menor es el error estándar.
        img.img-a(src="assets/images/pages/ilustraciones/img32.svg", alt="").img-fluid
        h3.mt-5 2.2.2. Muestreo simple
        p.mt-5 Este procedimiento de muestreo consiste en tomar una muestra definida de unidades, cuya elección se realiza al azar, una vez inspeccionadas se toma la decisión de aceptar o rechazar conforme a los criterios de la empresa. Este tipo de muestreo es útil en lotes pequeños.
        p En la siguiente tabla muestra la comparación para elegir este tipo de muestreo.
        h2.text-center VENTAJAS Y DESVENTAJAS DEL MUESTREO SIMPLE
        .row.justify-content-center.mt-5
            .col-4.mt-5.card-azul
                img.img-top4(src="assets/images/pages/ilustraciones/img33.svg", alt="").img-fluid
                p.mt-3.ml-3 Fácil y sencillo de analizar.
                p.mt-3.ml-3 Cálculos inmediatos de media y varianza.
                p.mt-3.ml-3 Análisis de datos en software especializado.
            .col-4.mt-5.card-verde
                img.img-top4(src="assets/images/pages/ilustraciones/img34.svg", alt="").img-fluid
                p.mt-3.ml-3 Necesita tener el marco muestral.
                p.mt-3.ml-3 El número pequeño de la muestra puede no representar el lote.
        p.mt-5 Ejemplo: se necesita validar un lote de 200 rollos de telas (N), cada uno de 60 metros, el tamaño de la muestra es de 300 metros (n) y el número de metros de tela aceptados es de 20 metros.
        h3.mt-5 2.2.3. Muestreo doble
        p.mt-5 Para validar un lote es necesario conocer el resultado de las inspecciones de dos muestras de este, cuando se presenten resultados dudosos en la primera muestra, por lo tanto, se pueden combinar los resultados de ambas muestras para determinar si se acepta o rechaza el lote.
        p #[strong Ejemplo:]  Se tiene un lote de 100 unidades (N), de acuerdo con los criterios de inspección de la empresa, se toman muestras de 20 unidades (n) y si se encuentran 2 unidades defectuosas (RQL) el lote se rechaza. Al realizar inspección se encuentra 1 unidad defectuosa, por lo tanto, se procede a inspeccionar una segunda muestra donde se encuentran 2 unidades defectuosas, por tanto, el lote se rechaza.
        h3.mt-5 2.2.4. Muestreo múltiple
        p.mt-5 Es similar al muestreo doble solo que se puede repetir (n) veces. Puede ser por conglomerados o estratificado.
        p En el muestreo por conglomerados se dividen los lotes en subgrupos, luego la cantidad de conglomerados es definida aleatoriamente y se combinan en una sola muestra, esto debido al gran tamaño del lote de forma que se facilita el análisis de los datos, además las variaciones en cada grupo son menores, que las variaciones entre los grupos.
        h2.text-center VENTAJAS Y DESVENTAJAS MUESTREO POR CONGLOMERADOS
        .row.justify-content-center.mt-5
            .col-4.mt-5.card-azul
                img.img-top4(src="assets/images/pages/ilustraciones/img33.svg", alt="").img-fluid
                p.mt-3.ml-3 Eficiencia en el manejo de los datos porque son grandes y dispersos.
                p.mt-3.ml-3 No es necesario tener listado de toda la población.
            .col-4.mt-5.card-verde
                img.img-top4(src="assets/images/pages/ilustraciones/img34.svg", alt="").img-fluid
                p.mt-3.ml-3 El error estándar en mayor.
                p.mt-3.ml-3 Cálculo de error estándar es más complejo. 
        p.mt-5 En el muestreo estratificado se eligen las muestras de acuerdo con variables comunes los cuales catalogan los estratos dentro de los lotes.
        h2.text-center VENTAJAS Y DESVENTAJAS MUESTREO ESTRATIFICADO
        .row.justify-content-center.mt-5
            .col-4.mt-5.card-azul
                img.img-top4(src="assets/images/pages/ilustraciones/img33.svg", alt="").img-fluid
                p.mt-3.ml-3 Estimaciones más precisas
                p.mt-3.ml-3 Muestra más parecida al lote.
            .col-4.mt-5.card-verde
                img.img-top4(src="assets/images/pages/ilustraciones/img34.svg", alt="").img-fluid
                p.mt-3.ml-3 Se debe conocer la población o lote y la distribución de las variables. 
        h3.mt-5 2.2.5. Muestreo de aceptación 
        p.mt-5 Consiste en validar la muestra de un lote donde se toma la decisión de aceptación o rechazo; si la muestra es rechazada se procede a realizar la inspección del 100% del lote. Se pueden analizar según:
        ul
            li Variables: se realizan mediciones para determinar la aceptación o rechazo.
        p.mt-5 #[strong Ejemplo:] la empresa fabrica 3.600 unidades de la referencia B-454 por semana. Los auditores seleccionan muestras de 259 unidades de B-454, y mide el contorno de busto de la camiseta para determinar si acepta o rechaza todo el lote. La camiseta es defectuosa si el contorno mide más de 0.55 cm, el cual es (LES) o menos de 0.2 cms, que es el límite de especificación inferior (LEI) de la medida proporcionada en cada talla. Además, se establecen AQL y RQL, para determinar si el lote en las mediciones de las 259 unidades no sobrepasó los valores. Según el plan de muestreo se define que si 3 unidades no cumplen los límites se rechaza el lote. Al inspeccionar las 259 unidades todas cumplen las mediciones en sus contornos, por lo tanto, se acepta el lote. 
        ul
            li Atributos: de acuerdo con las características no medibles, se determinan cuantos defectos son aceptados para determinar la aceptación o rechazo del lote.
        p.mt-5 #[strong Ejemplo:] se reciben 10000 conos de hilo blanco; el plan de muestreo especifica que el AQL es de 1,5% y el RQL es 5%, el resultado del cálculo es que se deben inspeccionar 209 conos y se rechazará el lote se encuentran 6 defectuosos. Al realizar la inspección se encuentran 7 unidades defectuosas, por lo tanto, el lote se rechaza.
        p.mt-5 Se pueden generar formatos para realizar muestreos como el siguiente en el proceso de corte:
        img.img-a(src="assets/images/pages/ilustraciones/img35.svg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img36.png", alt="").img-fluid