.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Ancho útil:
            | ancho máximo para usar en el corte, en donde no se incluyen los orillos de tela de ambos lados.
        p
            strong.mr-2 AQL:
            | siglas de las palabras en ingles de Level Aceptation Quality, nivel de calidad aceptable, es el aceptado por el cliente, el cual debe estar especificado en la ficha técnica, contrato, órdenes de compra. 
        p
            strong.mr-2 Atributos:
            | son las características cualitativas, puede sumar varias características a la vez. Ejemplo: el producto más económico.
        p
            strong.mr-2 Desviación estándar:
            | medida de variabilidad que indica que tan esparcidos se encuentran los datos con respecto a la media. Es el mismo error estándar.
        p
            strong.mr-2 Estadística descriptiva:
            | técnica matemática ocupada de recoger, almacenar, organizar, realizar cálculos, presentar en tablas o gráficos un grupo de datos con el fin de describir los comportamientos de estos.
        p
            strong.mr-2 Inspección:
            | acción de comparar un material, proceso o producto conforme las características descritas de manera previa, con el fin de determinar el grado de cumplimiento de los requisitos establecidos para validar la conformidad de lo inspeccionado.
        p
            strong.mr-2 LEI:
            | Límite de Especificación Inferior, es la medida de tolerancia mínima que puede aceptar en determinada variable.
        p
            strong.mr-2 LES:
            | Límite de Especificación Superior, es la medida de tolerancia máxima que puede aceptar en determinada variable.
        p
            strong.mr-2 Lote:
            | conjunto de prendas con características comunes a los cuales se realiza inspecciones y auditorías de calidad.
        p
            strong.mr-2 LTPD:
            | traducción de las palabras de las siglas en inglés Lot Tolerance Proportion Defective. Proporción defectuosa tolerable en el lote, es el peor nivel de calidad del lote que el cliente puede aceptar.
        p
            strong.mr-2 Marco muestral:
            | listado completo de los productos de un lote.
        p
            strong.mr-2 Marras: 
            | Desviarse de lo recto. (RAE)
        p
            strong.mr-2 Media:
            | es el resultado del promedio de los datos.
        p
            strong.mr-2 Mediana:
            | es el valor de la variable que ocupa el valor central de los datos, en el supuesto que es un número impar de datos.
        p
            strong.mr-2 Moda:
            | valor variable que más se repite en determinada cantidad de datos.
        p
            strong.mr-2 Muestra representativa:
            | unidades que reflejen las características clave del lote con relación al objetivo de estudio.
        p
            strong.mr-2 Muestreo:
            | técnica de seleccionar los prendas o piezas que hacen parte de la muestra para realizar las inspecciones.
        p
            strong.mr-2 Parámetro:
            | valor que describe a un lote o una prenda, también se puede hablar de características.
        p
            strong.mr-2 Probabilidad:
            | es la posibilidad de la ocurrencia de un evento.
        p
            strong.mr-2 Rango:
            | conjunto de datos donde se describe el menor valor y mayor valor utilizado en la medición de la variabilidad.
        p
            strong.mr-2 RQL:
            | siglas de las palabras en ingles de Level Rejectable Quality, nivel de calidad rechazable, es el que rechaza el cliente.
        p
            strong.mr-2 Variabilidad:
            | presencia de diferentes resultados de los datos que se presentan respecto a una característica.
        p
            strong.mr-2 Variabilidad controlada:
            | proceso donde se detectan causas inevitables o no asignables, de azar.
        p
            strong.mr-2 Variabilidad incontrolada:
            | proceso incontrolado debido a que las causas de los errores son evitables o asignables.
        p
            strong.mr-2 Variables:
            | son las características cuantitativas observables por tanto se puede medir los valores. Ejemplo: ancho de dobladillo.
        p
            strong.mr-2 Variación alta:
            | presenta una alta dispersión de los datos por lo tanto el proceso es incontrolado.
        p
            strong.mr-2 Varianza:
            | medida de variabilidad de un conjunto de datos respecto a su media aritmética. Es la desviación estándar elevada al cuadrado.             