.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Ingeniería industrial (2017) Muestreo de aceptación | Control estadístico de calidad | Conceptos, definiciones y formulas.
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=LK9vxgP5E8I&ab_channel=Ingenier%C3%ADaIndustrial", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td IPS Soluciones Industriales, (2019), ¿Qué es y cómo se realiza una inspección de calidad por muestreo o sorteo?
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=_KIaKbnnhgE&ab_channel=IPSSolucionesIndustriales", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Salas, J. (2018) Prueba de calidad inspección dimensional atributos.
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=cqFdE_X2i3A&ab_channel=JeanPaulSalasMeneses", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td SENA, (2020). Listado de defectos.
                    td PDF
                    td 
                        a(href="media/documentos/Listado_de_defectos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Ruiz-Falcó, A. (2006). Muestreo de aceptación Universidad Pontificia Comillas Madrid
                    td PDF
                    td 
                        a(href="media/documentos/Muestreo_aceptacion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar